.content_me_icon {
    float: right;
}
.content_me_icon img {
    width: .3rem;
    height:.3rem;
}
.content_rank {
    float: right;
}
.content_QR_Code {
    float: right;
    padding-right: .16rem;
}
.content_QR_Code img {
    width: .3rem;
    height: .3rem;
}
.list-block {
    margin-top: 0px;
    font-size:.14rem
}
.list_block_sex .sex {
    float: right;
    padding-right: .16rem;
}
.list-block .item-input input{
    font-size: .14rem
}