
.list-block .item-after {
    color: lightgrey;
    font-size: .12rem;
}
table {
    /*background-color: lightsalmon;*/
}
.item-after_tr2_td {
    text-align: right;
    vertical-align: top;
    color: brown;
}
.list-block ul:before{
	height:0;
}